<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.nineleaps.com">
                        Nineleaps
                    </a>
                </li>
                <li>
                    <a href="https://www.nineleaps.com">
                        About Nineleaps
                    </a>
                </li>
                <li>
                    <a href="http://www.nineleaps.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.nineleaps.com">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a>Team Anemome</a> for a better Resume Build Experience
        </div>
    </div>
</footer>
