::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }


  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #28426C; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.example-scroll {
   
    overflow-y: scroll;
    height: 380px;
}